Repository deepaucksharma-nr/Phoenix, changes with the owners that CODEOWNERS names for each.
All owners: @phoenix/platform-team, @phoenix/docs-team, @phoenix/architects, @phoenix/security-team, @phoenix/devops-team, @phoenix/database-team, @phoenix/observability-team, @phoenix/api-team, @phoenix/agent-team, @phoenix/cli-team, @phoenix/frontend-team, @phoenix/qa-team, @phoenix/performance-team, @phoenix/legal-team

CODEOWNERS:

# Phoenix Platform Code Owners
# This file defines who is responsible for code reviews in different parts of the repository
# Reviews from code owners are automatically requested when PRs touch their areas

# Default owners for everything
* @phoenix/platform-team

# Documentation requires docs team review
/docs/ @phoenix/docs-team @phoenix/platform-team
*.md @phoenix/docs-team
/README.md @phoenix/docs-team @phoenix/platform-team

# Architecture decisions need architect approval
/docs/architecture/decisions/ @phoenix/architects @phoenix/platform-team

# Core infrastructure requires platform team
/.github/ @phoenix/platform-team @phoenix/security-team
/build/ @phoenix/platform-team
/scripts/ @phoenix/platform-team
/tools/ @phoenix/platform-team
/Makefile @phoenix/platform-team
/go.work @phoenix/platform-team

# Deployment configurations need DevOps approval
/deployments/ @phoenix/devops-team @phoenix/platform-team
/deployments/kubernetes/overlays/production/ @phoenix/devops-team @phoenix/security-team @phoenix/platform-team
/deployments/terraform/ @phoenix/devops-team @phoenix/security-team

# Shared packages require architect review
/pkg/ @phoenix/architects @phoenix/platform-team
/pkg/auth/ @phoenix/security-team @phoenix/architects
/pkg/database/ @phoenix/database-team @phoenix/architects
/pkg/telemetry/ @phoenix/observability-team @phoenix/architects

# Project-specific ownership
/projects/phoenix-api/ @phoenix/api-team @phoenix/platform-team
/projects/phoenix-agent/ @phoenix/agent-team @phoenix/platform-team
/projects/phoenix-cli/ @phoenix/cli-team @phoenix/platform-team
/projects/dashboard/ @phoenix/frontend-team @phoenix/platform-team

# Test ownership
/tests/integration/ @phoenix/qa-team @phoenix/platform-team
/tests/e2e/ @phoenix/qa-team @phoenix/frontend-team
/tests/performance/ @phoenix/performance-team @phoenix/platform-team
/tests/security/ @phoenix/security-team @phoenix/platform-team

# Configuration files need careful review
*.yaml @phoenix/platform-team
*.yml @phoenix/platform-team
*.toml @phoenix/platform-team
.env.example @phoenix/platform-team
/configs/ @phoenix/platform-team @phoenix/devops-team

# Security-sensitive files need security team approval
*.pem @phoenix/security-team
*.key @phoenix/security-team
*.crt @phoenix/security-team
*secret* @phoenix/security-team
*password* @phoenix/security-team
/deployments/*/secrets/ @phoenix/security-team
.golangci.yml @phoenix/security-team @phoenix/platform-team
.pre-commit-config.yaml @phoenix/security-team @phoenix/platform-team

# CI/CD changes need platform and security review
/.github/workflows/ @phoenix/platform-team @phoenix/security-team @phoenix/devops-team

# License and legal
/LICENSE @phoenix/legal-team @phoenix/platform-team
/NOTICE @phoenix/legal-team @phoenix/platform-team

# Critical governance files
/CODEOWNERS @phoenix/platform-team @phoenix/architects
/CONTRIBUTING.md @phoenix/platform-team
/CODE_OF_CONDUCT.md @phoenix/platform-team
/.ai-safety @phoenix/platform-team @phoenix/security-team

all
  pkg/database/patterns/crud.go
  pkg/database/patterns/query.go
  pkg/http/middleware/cors.go
  pkg/http/middleware/logging.go
  projects/dashboard/src/hooks/shared/useAPI.ts
  projects/dashboard/src/hooks/shared/usePagination.ts
  projects/phoenix-api/internal/store/composite_store.go
Owners: @phoenix/database-team, @phoenix/architects, @phoenix/platform-team, @phoenix/frontend-team, @phoenix/api-team

all
  configs/Makefile
  configs/monitoring/prometheus/base/prometheus.yaml.tmpl
  configs/monitoring/prometheus/environments/development.yaml
  configs/monitoring/prometheus/environments/production.yaml
  deployments/kubernetes/prometheus-configmap.yaml
  docker-compose.yml
  monitoring/prometheus/prometheus.yaml
  monitoring/prometheus/prometheus.yml
  pkg/go.mod
  pkg/go.sum
  projects/dashboard/src/components/shared/DataTable.tsx
  projects/dashboard/src/components/shared/EmptyState.tsx
  projects/dashboard/src/components/shared/LoadingState.tsx
  projects/dashboard/src/components/shared/StatusChip.tsx
  projects/dashboard/src/components/shared/index.ts
  projects/dashboard/src/hooks/index.ts
  projects/phoenix-api/internal/api/analysis.go
  projects/phoenix-api/internal/api/server.go
  projects/phoenix-api/internal/api/ui_handlers.go
  projects/phoenix-api/internal/services/cost_service.go
  projects/phoenix-cli/cmd/experiment_rollback.go
  projects/phoenix-cli/internal/client/api.go
  tests/e2e/experiment_workflow_test.go
  tools/config-gen/main.go
Owners: @phoenix/platform-team, @phoenix/devops-team, @phoenix/architects, @phoenix/frontend-team, @phoenix/api-team, @phoenix/cli-team, @phoenix/qa-team

all
  Dockerfile.phoenix-agent
  Dockerfile.phoenix-api
  MVP_IMPLEMENTATION_SUMMARY.md
  deployments/kubernetes/phoenix-api.yaml
  docker-compose.yml
  infrastructure/kubernetes/overlays/production/ingress.yaml
  pkg/common/store/store.go
  projects/dashboard/src/hooks/useWebSocket.ts
  projects/dashboard/src/services/websocket/NativeWebSocketService.ts
  projects/dashboard/src/services/websocket/WebSocketService.ts
  projects/phoenix-api/internal/api/server.go
  projects/phoenix-api/internal/api/ui_handlers.go
  scripts/create-all-tables.sql
  scripts/create-experiments-table.sql
  scripts/init-db-simple.sql
  scripts/run-e2e-demo.sh
  scripts/validate-mvp.sh
  tests/e2e/rest_api_test.go
Owners: @phoenix/platform-team, @phoenix/docs-team, @phoenix/architects, @phoenix/frontend-team, @phoenix/api-team, @phoenix/qa-team

all
  pkg/common/go.mod
  pkg/common/models/experiment.go
  pkg/common/store/store.go
  pkg/database/types.go
  pkg/go.mod
  pkg/go.sum
Owners: @phoenix/architects, @phoenix/platform-team, @phoenix/database-team

Add resource requests and limits to pipeline-operator deployment
  projects/pipeline-operator/deployments/k8s/deployment.yaml
Owners: @phoenix/platform-team

Add team task distribution plan for Pipeline Catalog implementation
  docs/project/TEAM_TASK_DISTRIBUTION.md
Owners: @phoenix/docs-team

Update team task distribution with architecture-based component ownership
  docs/project/TEAM_TASK_DISTRIBUTION.md
Owners: @phoenix/docs-team

Add PR description for team task distribution
  docs/project/PR_DESCRIPTION.md
Owners: @phoenix/docs-team

Add Praveen to the team task distribution as Security Engineer
  docs/project/PR_DESCRIPTION.md
  docs/project/TEAM_TASK_DISTRIBUTION.md
Owners: @phoenix/docs-team

detailed
  docs/project/DETAILED_TASK_ASSIGNMENTS.md
Owners: @phoenix/docs-team

Remove duplicate PR description file, keeping only TEAM_TASK_DISTRIBUTION.md
  docs/project/PR_DESCRIPTION.md
Owners: @phoenix/docs-team

Delete docs/project/DETAILED_TASK_ASSIGNMENTS.md
  docs/project/DETAILED_TASK_ASSIGNMENTS.md
Owners: @phoenix/docs-team

feat: Production-readiness improvements for Phoenix API
  projects/phoenix-api/.env.example
  projects/phoenix-api/cmd/api/main.go
  projects/phoenix-api/internal/api/auth.go
  projects/phoenix-api/internal/api/ui_handlers.go
  projects/phoenix-api/internal/config/config.go
  projects/phoenix-api/internal/services/jwt_service.go
  projects/phoenix-api/internal/store/composite_store.go
  projects/phoenix-api/internal/store/store.go
  projects/phoenix-api/migrations/009_metrics_tables.down.sql
  projects/phoenix-api/migrations/009_metrics_tables.up.sql
  projects/phoenix-api/migrations/010_token_blacklist.down.sql
  projects/phoenix-api/migrations/010_token_blacklist.up.sql
Owners: @phoenix/platform-team, @phoenix/api-team

fix: Resolve compilation errors in phoenix-api and phoenix-cli
  projects/phoenix-api/go.mod
  projects/phoenix-api/go.sum
  projects/phoenix-api/internal/api/ui_handlers.go
  projects/phoenix-cli/cmd/auth_test.go
  projects/phoenix-cli/cmd/pipeline_list_versions.go
  projects/phoenix-cli/go.mod
  projects/phoenix-cli/internal/output/output_test.go
Owners: @phoenix/api-team, @phoenix/platform-team, @phoenix/cli-team

fix: Fix remaining compilation errors in output_test.go
  projects/phoenix-cli/internal/output/output_test.go
Owners: @phoenix/cli-team, @phoenix/platform-team

fix: Fix fmt.Sprintf format string in plugin.go
  projects/phoenix-cli/cmd/plugin.go
Owners: @phoenix/cli-team, @phoenix/platform-team

fix
  Dockerfile.phoenix-agent
  configs/otel-templates/nrdot/baseline.yaml
  configs/otel-templates/nrdot/cardinality-reduction.yaml
  deployments/single-vm/scripts/install-agent.sh
  pkg/aggregation/pipeline/status_aggregator.go
  pkg/common/interfaces/pipeline.go
  projects/phoenix-agent/cmd/phoenix-agent/main.go
  projects/phoenix-agent/internal/config/config.go
  projects/phoenix-agent/internal/supervisor/collector.go
  projects/phoenix-api/internal/services/pipeline_template_renderer.go
  projects/phoenix-cli/cmd/experiment_start.go
  projects/phoenix-cli/cmd/pipeline_deploy.go
  projects/phoenix-cli/cmd/pipeline_vm_config.go
  projects/phoenix-cli/internal/client/types.go
  projects/phoenix-cli/internal/completion/completion.go
  scripts/deploy-agent.sh
  scripts/deploy-control.sh
  scripts/deploy-setup.sh
  scripts/phoenix-monitor.sh
  scripts/phoenix-validate.sh
Owners: @phoenix/platform-team, @phoenix/devops-team, @phoenix/architects, @phoenix/agent-team, @phoenix/api-team, @phoenix/cli-team

fix
  phoenix-platform/cmd/phoenix-cli/internal/completion/completion.go
  pkg/aggregation/pipeline/status_aggregator.go
  projects/phoenix-api/internal/api/pipelines_test.go
  projects/phoenix-api/internal/services/pipeline_template_renderer.go
  scripts/STREAMLINED_SCRIPTS.md
  scripts/deploy-agent.sh
  scripts/deploy-control.sh
  scripts/deploy-setup.sh
  scripts/dev-reset.sh
  scripts/dev-setup.sh
  scripts/dev-start.sh
  scripts/dev-status.sh
  scripts/dev-stop.sh
  scripts/fix-composite-store.sh
  scripts/install-protoc.sh
  scripts/phoenix-backup.sh
  scripts/phoenix-monitor.sh
  scripts/phoenix-restore.sh
  scripts/phoenix-validate.sh
  scripts/test-coverage.sh
  scripts/validate-monorepo.sh
Owners: @phoenix/platform-team, @phoenix/architects, @phoenix/api-team

nrdot
  .env.example
  .env.template
  CLAUDE.md
  Makefile
  NRDOT_DOCUMENTATION_UPDATE_SUMMARY.md
  configs/otel/README.md
  deployments/single-vm/.env.template
  deployments/single-vm/README.md
  docker-compose.yml
  docs/api/PHOENIX_API_v2.md
  docs/getting-started/first-experiment.md
  docs/operations/configuration.md
  examples/experiment-nrdot.json
  projects/phoenix-api/migrations/011_nrdot_support.down.sql
  projects/phoenix-api/migrations/011_nrdot_support.up.sql
  scripts/demo-nrdot.sh
  scripts/test-nrdot-integration.sh
  tests/integration/nrdot_integration_test.go
Owners: @phoenix/platform-team, @phoenix/docs-team, @phoenix/devops-team, @phoenix/api-team, @phoenix/qa-team

nrdot
  NRDOT_DOCUMENTATION_UPDATE_SUMMARY.md
  README.md
  docs/operations/nrdot-troubleshooting.md
Owners: @phoenix/docs-team, @phoenix/platform-team

nrdot
  ARCHITECTURE.md
  DOCUMENTATION_FINAL_SUMMARY.md
  DOCUMENTATION_VALIDATION_REPORT.md
  Makefile.dev
  README.md
  archive/summaries/COMPLETE_DOCUMENTATION_UPDATE.md
  archive/summaries/DEMO_SUMMARY.md
  archive/summaries/DOCUMENTATION_UPDATE_SUMMARY.md
  archive/summaries/END_TO_END_SYNC_COMPLETE.md
  archive/summaries/MVP_IMPLEMENTATION_SUMMARY.md
  archive/summaries/SYNC_FIXES_SUMMARY.md
  docker-compose.dev.yml
  docs/README.md
  docs/api/README.md
  docs/operations/README.md
  projects/phoenix-api/.env.template
  scripts/dev-start.sh
  scripts/validate-documentation.sh
Owners: @phoenix/docs-team, @phoenix/platform-team, @phoenix/api-team

nrdot
  .githooks/README.md
  .githooks/pre-commit
  Makefile
  scripts/clean-build-artifacts.sh
  simple-experiment.json
  test-experiment.json
Owners: @phoenix/docs-team, @phoenix/platform-team
